{% extends "base.html" %}
{% load static %}
{% block title %} Ingenieurie&mdash;Informatique {% endblock %}

{% block content %}



	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="couleur">
					{% for message in messages %}
						{{message}}
					{% endfor %}
				</div>
				<div class="d-flex justify-content-center">


					<h3 id="form-title">Se Connecter</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
						{% csrf_token %}

						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" placeholder="Nom utilisateur..." class="form-control">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" name="password" placeholder="Mot de passe..." class="form-control" >
						</div>

							<div class="d-flex justify-content-center mt-3 login_container">
				 				<input class="btn login_btn" type="submit" value="Connecter">
				   			</div>
					</form>

				</div>
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
							Vous n'avez pas de compte? <a href="{% url 'register' %}" class="ml-2">S'enregistrer</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p class="alligner">Aller dans la page d<a href="{% url 'index' %}">'acceuille</a></p>
 

 {% endblock %}
